<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assiment5.Properties.Settings.BloggingConnectionString"
            connectionString="Data Source=DESKTOP-FCRS87A;Initial Catalog=Blogging;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Assiment5.Properties.Settings.BooksConnectionString"
            connectionString="Data Source=DESKTOP-FCRS87A;Initial Catalog=Books;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Assiment5.Properties.Settings.CHARJDConnectionString"
            connectionString="Data Source=DESKTOP-FCRS87A;Initial Catalog=CHARJD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Assiment5.Properties.Settings.dollarcomputersConnectionString"
            connectionString="Data Source=DESKTOP-FCRS87A;Initial Catalog=dollarcomputers;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>